body {
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	background-color: black;
}
h1 {
	font-size: 300%;
	color:white;
}
img {
	height: 50px;
	width: 50px;
}

li {
	font-size: 300%;
	list-style-type: none;
	list-style: none;
	display: inline;
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
span {
	font-size: 300%;
	color: white;
}
.dropdown-menu {
	background-color: lightgray;
	text-align: center;
	left: 45%;
}

#left-panel{
	font-size:150%;
	background-color: #404040;
	color: white;
	text-align: left;
	position: fixed;
	top: 0;
	left: 0;
	width: 480px;
	height: 100%;
	border-right: 1px solid black;
}

.in-panel {
	height:50px;
	width: 100%;
	border: 1px solid black;
}

#first-div {
	text-align:center;
	border: 1px solid black;
}

#prediction{
	color: white;
	font-size: 200%;
	margin-right: 515px;
	margin-left: 515px;
}

#tiles{
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 400%;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('snow.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}